.MainVisual {
    position: relative;
    height: 650px;
    background: url(../../public/assets/images/main_slider01.jpg) no-repeat center top/cover;

    .MainSlide {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 300px;
        transform: translate(0, -50%);
        margin: 0 0 0 -585px;
    }

    .boom {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 300px;
        transform: translate(0, -200px);
        margin: 0 0 0 0;
    }

}